body {
	font-family: "Verdana";
	background-color: #eeeeee;
}

#joinDiv {
	position: absolute;
	padding: 5px;
	top: calc(50% - 125px);
	left: calc(50% - 200px);
    background-color: #dddddd;	
}

#joinDiv-username {
	background-color: #eeeeee;
	border: 1px solid #888888;
	width: 100%;
}

#joinDiv-button {
	background-color: #eeeeee;
	border: 1px solid #888888;
	width: 100px;
	height: 24px;
	font-family: "Verdana";
	font-size: 16px;
}

#joinDiv-message {
	color: red;
	position: absolute;
	width: 100%;
	bottom: 7px;
}

#playersDiv{
	font-size: 12px;
}

#teamRedDiv {
	color: red;
	background-color: #ffbbbb;
	margin:5px;
	padding:5px;
}

#teamBlueDiv {
	color: blue;
	background-color: #bbbbff;
	margin:5px;
	padding:5px;
}

#hudDiv{
	background-color: #dddddd;
	margin:5px;
	padding:5px;
}

#playerKillsDiv{
	font-weight: bold;
}

#playerAmmoDiv{
	background-color: #ff8800;
}

#playerHpDiv{
	background-color: #00cc00;
}

#chatDiv{
	background-color: #eeeeee;
	border: 1px solid #888888;
	margin:5px;
	padding:5px;
	height: 150px;
	overflow-y:scroll;
}

#chatInput{
	margin:5px;
	padding:5px;
	width: calc(100% - 10px);
	background-color: #eeeeee;
	border: 1px solid #888888;
}